package ${model.packageName};

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import com.fasterxml.jackson.annotation.JsonIgnore;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonPropertyOrder;
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import io.fabric8.kubernetes.api.model.KubernetesResource;
import io.fabric8.kubernetes.api.model.KubernetesResourceList;
import io.fabric8.kubernetes.api.model.ListMeta;

import io.sundr.builder.annotations.Buildable;

#set ($apiVersion = "unknown")
#set ($annotations = $model.annotations)
#foreach ($annotation in $annotations)
  #if ($annotation.getClassRef().getName().equals("Crd"))
    #set ($apiVersion =  $annotation.getParameters().get("group") + "/" + $annotation.getParameters().get("version"))
  #end
#end

#set ($spec = $model.name)
#set ($length = $spec.length())
#set ($tindex = $length - 4)
#set ($resource = $spec.substring(0, $tindex))

@JsonInclude(JsonInclude.Include.NON_NULL)
@JsonPropertyOrder({
"apiVersion",
"kind",
"metadata",
"items"
})
@JsonDeserialize(using = com.fasterxml.jackson.databind.JsonDeserializer.None.class)
@Buildable(editableEnabled = false, builderPackage = "io.fabric8.kubernetes.api.builder")
public class ${resource}List implements KubernetesResource, KubernetesResourceList {

/**
*
* (Required)
*
*/
@JsonProperty("apiVersion")
private String apiVersion = "$apiVersion";
/**
*
*
*/
@JsonProperty("items")
private List<${resource}> items = new ArrayList<${resource}>();
/**
*
* (Required)
*
*/
@JsonProperty("kind")
private String kind = "${resource}List";
/**
*
*
*/
@JsonProperty("metadata")
private ListMeta metadata;

/**
* No args constructor for use in serialization
*
*/
public ${resource}List() {
}

/**
*
* @param metadata
* @param apiVersion
* @param kind
* @param items
*/
public ${resource}List(String apiVersion, List<${resource}> items, String kind, ListMeta metadata) {
this.apiVersion = apiVersion;
this.items = items;
this.kind = kind;
this.metadata = metadata;
}

/**
*
* (Required)
*
* @return
*     The apiVersion
*/
@JsonProperty("apiVersion")
public String getApiVersion() {
return apiVersion;
}

/**
*
* (Required)
*
* @param apiVersion
*     The apiVersion
*/
@JsonProperty("apiVersion")
public void setApiVersion(String apiVersion) {
this.apiVersion = apiVersion;
}

/**
*
*
* @return
*     The items
*/
@JsonProperty("items")
public List<${resource}> getItems() {
return items;
}

/**
*
*
* @param items
*     The items
*/
@JsonProperty("items")
public void setItems(List<${resource}> items) {
this.items = items;
}

/**
*
* (Required)
*
* @return
*     The kind
*/
@JsonProperty("kind")
public String getKind() {
return kind;
}

/**
*
* (Required)
*
* @param kind
*     The kind
*/
@JsonProperty("kind")
public void setKind(String kind) {
this.kind = kind;
}

/**
*
*
* @return
*     The metadata
*/
@JsonProperty("metadata")
public ListMeta getMetadata() {
return metadata;
}

/**
*
*
* @param metadata
*     The metadata
*/
@JsonProperty("metadata")
public void setMetadata(ListMeta metadata) {
this.metadata = metadata;
}
}
