/** 

This is a partial.
It lies in <source>/_sass, just waiting to be imported.
It does not contain the YAML front matter and has no corresponding output file in the built site. 

*/

$black : #000000;
$white : #FFFFFF;

$dark-red: #A30000;
$darker-red: #820000;

$dark-orange: #85372C;
$yellow: #F0CA4D;
$dark-yellow: #90792E;
$teal: #46B29D;
$dark-teal: #2A6B5E;

